@import url('//fonts.googleapis.com/css?family=Droid+Sans:400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- */

body {
    background: #141414;
    color: #999;
    font-size: 12pt;
    font-family: "Droid Sans";
}

h1,h2,h3,h4,h6 {
    color: #fff;
    font-weight: bold;
}

h2 {
    font-size: 14pt;
    margin-bottom: 15px;
}

a, a:link, a:visited {
    color: #33b5e5;
}

a:hover {
    color: #fff;
}

input, select {
    border: none;
    font-size: 12pt;
    background: rgba(0,0,0,0.5);
    font-family: "Droid Sans";
    font-style: italic;
    color: #999;
}

input[type=text] {
    border-bottom: solid 1px #202020;
}

input[type=text].input-small {
    width: 64px;
    text-align: center;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    background: #141414;
    text-decoration: none;
    color: #999;
}

.btn-small {
    font-size: 9pt;
    height: 19px;
    line-height: 19px;
    padding: 0 6px;
}

.btn-small i {
    line-height: 19px;
}

.btn:hover {
    color: #fff;
    background: #202020;
    border-color: #33b5e5;
}

.btn:hover i {
    color: #33b5e5;
}

.toggle-radio input[type=radio] {
    display: none;
}

.toggle-radio input[type=radio]:checked + label {
    color: #fff;
    background: #33b5e5;
}

.toggle-radio input[type=radio]:checked + label i {
    color: #fff;
}

.toggle-radio input[type=radio] + label .icon-check-sign {
    display: none;
}

.toggle-radio input[type=radio]:checked + label .icon-check-sign {
    display: inline;
}

.toggle-radio input[type=radio]:checked + label .icon-sign-blank {
    display: none;
}


/* Modal */

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(30,30,30,0.5);
    z-index: 1000;
}

.modal {
    display: none;
    position: absolute;
    width: 50%;
    top: 100px;
    left: 50%;
    margin: 0 0 0 -25%;
    padding: 40px;
    z-index: 1100;
    background: #0b0b0b;
}

.modal .modal-close {
    cursor: pointer;
}

.modal .modal-close:hover {
    color: #fff;
}

.modal h2 {
    margin-bottom: 30px;
    font-size: 18pt;
}

.modal footer {
    margin-top: 30px;
}

.modal p {
    margin-bottom: 15px;
}


/* Header */

.editor-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 51px;
    line-height: 50px;
    box-shadow: 0 -1px 0 #202020 inset;
    padding: 0 40px;
}

.masthead {
    font-size: 16pt;
}

.file-menu li {
    display: block;
    height: 50px;
    float: right;
    padding: 0 5px;
    margin-left: 25px;
}

.file-menu li:hover {
    color: #fff;
    border-bottom: solid 1px #33b5e5;
    cursor: pointer;
}

.file-menu li i {
    font-weight: normal !important;
    font-size: 14px;
    margin-right: 4px;
}

.file-menu li:hover i {
    color: #33b5e5;
}

.editor-content {
    position: absolute;
    top: 51px;
    bottom: 41px;
    left: 0;
    right: 0;
}

.editor-toolbar-left {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    width: 240px;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.editor-toolbar-left li {
    padding: 3px 3px 3px 16px;
    cursor: pointer;
}

.editor-toolbar-left li:hover {
    background: #141414;
    color: #fff;
}

.editor-toolbar-left li.selected {
    background: #33b5e5;
    color: #fff;
}

.editor-toolbar-left li.top {
    padding: 2px;
    font-weight: bold;
}

.editor-toolbar-right {
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 0;
    width: 240px;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    font-size: 10pt;
}

.editor-toolbar-right h2 {
    margin-bottom: 0px;
    padding: 10px;
}

.editor-toolbar-right input[type=text], 
.editor-toolbar-right select {
    height: 21px;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    vertical-align: middle;
    background: transparent;
    font-size: 10pt;
}

.editor-toolbar-right tr:hover td {
    background: #141414;
    color: #fff;
}

.editor-toolbar-right tr:hover input[type=text],
.editor-toolbar-right tr:hover select,
.editor-toolbar-right input[type=text]:focus,
.editor-toolbar-right select:focus {
    color: #fff;
}

.editor-toolbar-right select {
    background: #040404;
}

.editor-toolbar-right tr:first-child td {
    border-top: solid 1px #202020;
}

.editor-toolbar-right td {
    border-bottom: solid 1px #202020;
    height: 21px;
    line-height: 21px;
    padding: 2px 4px;
}

.editor-toolbar-right tr td:first-child {
    border-right: solid 1px #202020;
}

.editor-window {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 280px;
    right: 280px;
}

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: -0px 0 0 -0px;
    background: #999;
    background-image: 
        linear-gradient( 0deg, 
            transparent 0px, transparent 15px, 
            rgba(0,0,0,.1) 15px, rgba(0,0,0,.1) 16px 
        ),
        linear-gradient( -90deg, 
            transparent 0px, transparent 15px, 
            rgba(0,0,0,.1) 15px, rgba(0,0,0,.1) 16px 
        );
    background-size: 16px 16px;
    background-repeat: repeat;
    box-shadow: 0 5px 15px #000;
    z-index: 5;
}

.component {
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.component.label {
    width: auto;
    height: 14px;
    line-height: 14px;
    color: #fff;
}

.component.button {
    color: #fff;
    background: #666;
    text-align: center;
}

.component.image {
    background: #666;
}

.editor-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 41px;
    box-shadow: 0 1px 0 #202020 inset;
    padding: 0 40px;
    line-height: 40px;
}

.editor-footer small {
    font-size: 9pt;
}

.footer-settings li {
    display: block;
    float: left;
}